<!-- list-page.component.html -->
<section class="layout">
  <app-header></app-header>
  <div class="main">
    <div class="comics-grid">
      <app-card 
        *ngFor="let comic of comics" 
        [comic]="comic"
        (addToFavorites)="addToFavorites(comic)"
        (removeFromFavorites)="removeFromFavorites(comic.id)">
      </app-card>
    </div>
    <div *ngIf="hasMore" class="show-more">
      <button (click)="onShowMore()" [disabled]="isLoading">Mostrar Más</button>
      <mat-progress-spinner *ngIf="isLoading" mode="indeterminate"></mat-progress-spinner>
    </div>
  </div>
  <app-footer></app-footer>
</section>
